@charset "UTF-8";


/* form styling */
body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
select:focus, select:active, input:focus, input:active, input:focus + label, input:active + label, label[for]:focus, label[for]:active {
	color: #FFF !important;
	background-color: #BB3D2F !important;
}
legend {
	font-style: italic;
}
#formcol1 input.reqfield {
		background:#FF9;
}
		
#wrapper {
	width: 60%;
	margin-left:4%;
}

div#formcol1 {
	float:left;	
	width: 100%;
}
/* input[type="radio"] {
  width: auto;
} */
label {
	text-align: right;
	margin-right: .3em;
	width: 6.27em;
	display: inline-block;
	
}
/* div#multchoice {
	width: 9.27em;
} */
#formcol1 li {
	list-style:none;
}

/* end of form css */
	
